:root {
  font-size: 62.5%;
  --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --ig-primary-text: 28, 30, 33;
  --ig-separator: 239, 239, 239;
  --ig-separator: 219, 219, 219;
  --ig-stroke: 219, 219, 219;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea {
  font-family: var(--font-family-system);
  color: rgb(var(--ig-primary-text));
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
