.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;

  width: 24.0rem;
  height: 100%;
  padding: .8rem 1.2rem 2.0rem 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid rgb(var(--ig-separator));

  &__menu {
    width: 100%;
    height: 100%;
  }

  &__logo,
  &__logo-icon {
    width: 100%;
    padding: 2.5rem 1.2rem 1.6rem 1.2rem;
    margin-bottom: 2.0rem;
    display: block;
  }

  &__logo-icon {
    display: none;
  }

  &__item {
    padding: 1.2rem;
    margin: .8rem 0;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: rba(var(--ig-primary-text));
  }

  &__img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1264px) {
  .nav {
    width: fit-content;

    &__logo {
      display: none;
    }

    &__logo-icon {
      display: block;
    }

    &__link {
      &-title {
        display: none;
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;

    top: auto;
    bottom: 0;
    border-top: 1px solid rgb(var(--ig-separator));
    border-right: none;

    &__logo-icon,
    &__icon-toggle {
      display: none;
    }

    &__menu {
      display: flex;
      align-items: center;
    }

    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    &__item {

      margin: 0;

      &-search,
      &-notifications,
      &-more {
        display: none;
      }
    }
  }
}